@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.app{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.row-cols-7>* {
    flex: 0 0 auto;
    max-width: 14.23%;
}
.h-screen{
    height: 100vh;
}
.flex-1 {
    flex: 1 1 0%;
}
.w-7 {
    width: 1.75rem;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.me-10 {
    margin-right: 2.5rem;
}
.w-7{
    width: 1.75rem;
}
.w-12 {
    width: 3rem;
}
.w-5{
    width: 1.25rem;
}
.w-6 {
    width: 1.5rem;
}
.w-full{
    width: 100%;
}
.h-5{
    height: 1.25rem;
}
.h-6 {
    height: 1.5rem;
}
.h-7{
    height: 1.75rem;
}
.h-12 {
    height: 3rem;
}

.icon{
    font-size: 24px;
    line-height: 1;
    color: rgba(75,85,99,1);
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
 .font-bold{
    font-weight: bold;
 }
 .font-semibold{
    font-weight: 600;
 }
.d-grid{
    grid-template-columns: 1fr 5fr;
}
.event-body input{
    border-bottom-width: 2px !important;
}
.event-body input:focus{
    outline: none;
    border-bottom-color: blue !important;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-red{
    background-color: rgba(239,68,68,1);
}
.bg-blue{
    background-color: rgba(59,130,246,1);
}
.bg-purple{
    background-color: rgba(139,92,246,1);
}
.bg-grey{
    background-color: rgba(107,114,128,1);
}
.bg-indigo{
    background-color:rgba(99,102,241,1);
}
.bg-green{
    background-color: rgba(16,185,129,1);
}
.event-card{
    width: 100vw;
}
.event-form{
    width: 300px !important;
    overflow: hidden;
}
.bg-grey-200{
    background-color: #e9ecef;
}

.text-red-400{
    background:rgba(239,68,68,1) !important ;
    color: rgba(239,68,68,1) !important;
}
.text-blue-400{
    color: rgba(59,130,246,1) !important;
}
.text-purple-400{
    color: rgba(139,92,246,1) !important;
}
.text-grey-400{
    color: rgba(107,114,128,1) !important;
}
.text-indigo-400{
    background:rgba(239,68,68,1) !important ;
    color:rgba(99,102,241,1) !important;
}
.text-green-400{
    color: rgba(16,185,129,1) !important;
}
